 <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/class.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script>

    window.onload = function() {
      $('select[name="classes"]').find('option:contains({{num}})').attr("selected",true);
    };

    </script>

  </head>

  <div id="page">
    <div class="header">
      <a href="#menu"></a>
      Zembo
    </div>
  </div>

  <div id="cont">
    <div id="tp">
      <ul id="nav">
        <li><a href="/group/createPost?classid={{classid}}">+ Post</a></li>
        <li><a href="/group/createEvent?classid={{classid}}">+ Event</a></li>
        <li><a href="/class/students?classid={{classid}}">Students</a></li>
        <div id="dropDown2">
          <select id="selectID" name="classes" onChange="window.location.href=this.value">
            {{#each classes}}
              <option value="/class?classid={{this.classid}}">{{this.num}}</option>
            {{/each}}
          </select>
        </div>  
      </ul> 
      <ul id="events">
        {{#each events}}
           <li><a href="/class/content?classid={{classid}}&eid={{eid}}"><i id="calendar" class="icon fa fa-calendar fa-1x"></i> <b>{{this.title}}</b> - <i>{{this.name}} </i>scheduled for {{this.date}} <i id="arrow" class="fa fa-arrow-right"></i></a></li>
        {{/each}}
      </ul>
      <ul id="posts">
        {{#each posts}}
           <li><a href="/class/content?classid={{classid}}&pid={{pid}}"><i id="pencil" class="icon fa fa-pencil-square-o fa-1x"></i> <b>{{this.title}}</b> - <i>{{this.name}} </i>posted on {{this.date}} <i id="arrow" class="fa fa-arrow-right"></i></a></li>
        {{/each}}   
      </ul>
    </div>
  </div>
</html>