<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/group.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <div id="page">
    <div class="header">
      <a href="#menu"></a>
        Zembo
    </div>
  </div>

  <div id="cont"> <!-- OPEN CONT -->
    <div id="tp"> <!-- OPEN TP -->
      <center><p>{{message}}</p></center>

      <!-- OPEN FORM -->
      <form method="post" id="schedule" action="/group/createEvent?classid={{classid}}"> 
        <label><b>{{title}}</b></label><br>
        <input type="text" id="inputholder" name="title" placeholder="event title: Eg - 'Anyone want to meet up to work on Homework 4?'"><br>
        <input type="text" id="inputholder" name="description" placeholder="description: Eg - 'Work on Algorithms Homework 4 and discuss Graph Theory'"><br>
        <input type="text" id="inputholder" name="location" placeholder="location: Eg - 'Learning Commons, TBL 25, W.E.B Du Bois Library'"><br>
        <label id="basic">Date:</label>
        <input type="date" name="date" required><br>
        <label id="basic">Time:</label>
        <input type="time" name="time" required><br>
        <label id="basic">Post as:</label>
        <select name="anonymity">
          <option value="Anonymous">Anonymous</option>
          <option value="{{fname}}">{{fname}}</option>
        </select><br><br>
        <button id="createbutton">Create</button>
      </form> <!-- CLOSE FORM -->

    </div> <!-- CLOSE TP -->
  </div> <!-- CLOSE CONT -->

  <ul id="goback"><li><a style="text-decoration: none" href="/class?classid={{classid}}"><b><i class="fa fa-long-arrow-left"></i> back</b></a></li></ul>
</html>