<!DOCTYPE html>
<html>
  <!-- BEGIN HEAD -->
  <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- BEGIN SCRIPT FOR ADD CLASS TOGGLE -->
    <script>
      $(document).ready(function() {
        $("#addclass").click(function() {
          $("#addclassdropdown").slideToggle("fast");
        });
      });
    </script> 
     <!-- END -->

    <!-- BEGIN SCRIPT FOR CLASSES TOGGLE -->
    <script>
    $(document).ready(function() {
      $("#class0").click(function() {
        $("#extend0").slideToggle("fast");
      });
    });
    </script>

    <script>
    $(document).ready(function() {
      $("#class1").click(function() {
        $("#extend1").slideToggle("fast");
      });
    });
  
      $(document).ready(function() {
        $("#class2").click(function() {
          $("#extend2").slideToggle("fast");
        });
      });

      $(document).ready(function() {
        $("#class3").click(function() {
          $("#extend3").slideToggle("fast");
        });
      });

      $(document).ready(function() {
        $("#class4").click(function() {
          $("#extend4").slideToggle("fast");
        });
      });

      $(document).ready(function() {
        $("#class5").click(function() {
          $("#extend5").slideToggle("fast");
        });
      });

      var toggle = [0, 0, 0, 0, 0, 0]; //array to represent whether the icons for a class is open or not

      function changeClass(i){
        if( toggle[i] == 0 ){
          $('#class'+i+' #dropdown').removeClass('fa-chevron-down').addClass('fa-chevron-up');
          toggle[i] = 1;
        }
        else{
          $('#class'+i+' #dropdown').removeClass('fa-chevron-up').addClass('fa-chevron-down');
          toggle[i] = 0;
        }
      }
    </script>
    <!-- END -->
  </head>
  <!-- END HEAD -->

  <!-- MENU BAR -->
  <div id="page">
    <div class="header">
      <a href="#menu"></a>
        Zembo
        <i id="addclass" class="fa fa-plus-circle"></i>
    </div>
    <!-- END MENU -->

    <!-- add class dropdown -->
    <div id="addclassdropdown">
       <center>
         <div id="form">
            <form method="post" action="/user/addClass">
              <select name="values" onchange="showForm()">
                <!-- BEGIN LIST -->
                {{#each classList}}
                  <option value="{{this.class_id}}, {{this.num}}">
                    {{this.num}}
                  </option>
                {{/each}}
                <!-- END LIST -->
              </select><br>
              <button class="btn">Add Class</button>
            </form>
          </div>
      </center>
    </div>
  </div>
  <!-- end add class dropdown -->

  <!-- BEGIN CONTENT -->
    
      <div id="tp">
        {{#if classes.length}}
        <!-- LOOP BEGINS -->
        {{#each classes}}
        <!-- RENDERS UNIQUE CLASS DIVS -->
          <ul id="class{{@index}}" onclick="changeClass({{@index}})">
            <a href="/class?classid={{this.classid}}">
              <div id="classname">
                <p1>{{this.num}}</p1>
              </div>
            </a>  

            <div id="students">
            {{#each students}}
              <div id="studentBody">  
                <a href="/user/profile?spireid={{this}}">
                  <img id="studentImage" src="imgs/users/{{this}}.jpg" alt="{{this}}">
                </a>
              </div>
              {{/each}}
            </div>

            <i id="dropdown" class="fa fa-chevron-down"></i>
          </ul>
         <!-- END --> 
          <!-- RENDERS EXTENSION FOR EACH CLASS DIV -->
          <div id="extend{{@index}}">
          <ul>
            <li>
              <a href="/class?classid={{this.classid}}"><i id="cap" class="icon fa fa-graduation-cap fa-5x"></i></a>
              <a href="/group/createPost?classid={{this.classid}}"><i id="pencil" class="icon fa fa-pencil-square-o fa-5x"></i></a>
              <a href="/group/createEvent?classid={{this.classid}}"><i id="calendar" class="icon fa fa-calendar fa-5x"></i></a>
              <a href="/class/delete?classid={{this.classid}}"><i id="event" class="icon fa fa-trash fa-5x"></i></a>

            </li>
          </ul>
        </div>
        <!-- END --> 
        {{/each}}
        <!-- LOOP ENDS -->
        {{/if}}
      </div>
  </div>

</html>
