<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/adminControls.css" />
  </head>
  <div style="col-lg-6">
  {{message}}
  </div>
  
  <!-- {{#each user}}
  <div>
    {{this.user.name}}
  </div>
  <div>
  {{this.user.id}}
  </div>
  {{/each}} -->



  <div id="cont">
    <div id="tp">
      <table class="linkText">    
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>ID</th>    
        </tr>
        {{#each users}}
        <tr>
          
          <td>{{this.user.name}}</td>
          <td>{{this.user.primary_email}}</td>
          <td>{{this.user.id}} </td>
          
        </tr>
        {{/each}}
      </table>


    </div>
  </div>
</html>